#app-container {
  display: flex;
  flex-direction: column;
  font-family: Calibre, Helvetica, Arial, sans-serif;
  font-size: 14px;
};

.navbar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.fas {
  display: flex;
  z-index: 99;
  color: black;
  position: absolute;
  top: 15px;
  left: 8px;
  width: 14px;
}

.left-navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  float: left;
}

.searchbar{
  margin: 0 1em;
  font-size: 1em;
  font-family: Calibre, Helvetica, Arial, sans-serif;
  color: black;
  position: relative;
  display: flex;
  align-items: center;
}

.search{
  height: 3.0em;
  width: 25em;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 2px 23px 2px 30px;
  outline: 0;
  font-family: Calibre, Helvetica, Arial, sans-serif;
  font-size: .95em;
  font-weight: 300;
}

#top-photos {
  width: 100%
}

#bottom-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#campsiteHostInfo {
  width: 60%;
}

#booking {
  width: 40%;
  position: relative;
  top: -4em;
}

.right-navbar {
  width: 50%;
  height: 125px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  float: right;
}

.navbar-link {
  font-size: 15px;
  margin: .5em;
  color: #333333;
  letter-spacing: 0.05em;
}

button.host-button {
  color: #fff;
  border: 3px solid #40d9ac;
  border-radius: 4px;
  background-color: #40d9ac;
  padding: 8px;
  font-weight: 500;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: .5em;
}